<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
<h1>Movies</h1>
<div>
    <ul>
        <li th:each="movie : ${movies}">
            <a th:href="@{/movies/{movieId}(movieId=${movie.id})}">
                <span th:text="${movie.title}"></span>
            </a>
        </li>
    </ul>
    <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>